{% extends 'AdminTemplateBundle::base.html.twig' %}
{% set page_title %}User Creation{% endset %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-body">

            <form class="form bootstrap-validator-form" id="validation" action="{{ path('user_create') }}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="fullName" class="required">Full Name</label>
                    <input name="full_name" placeholder="Full Name" id="full_name" required="required" maxlength="225" class="form-control" value="{{ entity.fullName }}" type="text">
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" placeholder="Username" class="form-control" id="username"  required="required" name="username" value="{{ entity.username }}"/>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" placeholder="Email Address" class="form-control" id="email" name="email" value="{{ entity.email }}"/>
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" placeholder="Phone" class="form-control" id="phone" name="phone" value="{{ entity.phone }}"/>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" placeholder="Password" class="form-control" id="pasword" name="password"/>
                </div>
                <div class="form-group">
                    <label>State</label>
                    <select class="form-control" name="enabled">
                        <option {% if entity.enabled == true %}selected=""{% endif %} value="1">Active</option>
                        <option {% if entity.enabled == false %}selected=""{% endif %} value="0">Block</option>
                    </select>
                </div>
                <br class="clear"/>
                </span>
                <div class="form-group text-right">
                    <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> Create</button>
                    <button class="btn btn-danger" type="reset"><i class="fa fa-refresh"></i> Reset</button>
                </div>
            </form>
            <div >
                <a href="{{ path('user') }}" class="btn btn-warning">Back to the list</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}