{% set cr = app.request.attributes.get('_route') %}
{% set locale = app.request.get('_locale') %}

<!doctype html>
<html lang="{% if locale == '' %}en{% else %}{{ locale }}{% endif %}" {% if locale == "ar" %}dir="rtl"{% endif %}>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{{ asset('favicon.png') }}"/>

    <title>{% block title %}{% endblock %} | {{ constant('\AppKernel::websiteTitle')|trans }}</title>
    {% block stylesheet %}
        <!-- BASE CSS-->
        <link rel="stylesheet" href="{{ asset('vendors/fontawesome-pro-5/css/all.css') }}">
        <link rel="stylesheet" href="{{ asset('vendors/bootstrap-select/css/bootstrap-select.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendors/magnific-popup/magnific-popup.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendors/jquery-ui/jquery-ui.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendors/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('vendors/mapbox-gl/mapbox-gl.min.css') }}">
        {% if locale == "ar" %}
            <link rel="stylesheet" href="{{ asset('css/main-rtl.css') }}?v=1.0.1">
        {% else %}
            <link rel="stylesheet" href="{{ asset('css/main-ltr.css') }}?v=1.0.1">
        {% endif %}
        <!-- END BASE CSS-->
    {% endblock %}

    {% block metaTag %}{% endblock %}
</head>

<body>
<div class="pre-loader">
    <div class="pre-loader-object"></div>
</div>
<!--HEADER-->
{{ render(controller('HomeBundle:HomePage:menu', {"request": app.request})) }}
<!--END HEADER-->

<main id="content">
    <!--BODY-->
    {% block content %}
    {% endblock %}
    <!--END BODY-->
</main>

<!--FOOTER-->
{{ render(controller('HomeBundle:HomePage:footer')) }}
<!--END FOOTER-->

<!-- BASE JS-->
{% block javascripts %}
    <script src="{{ asset('vendors/jquery.min.js') }}"></script>
    <script src="{{ asset('vendors/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('vendors/bootstrap/bootstrap.bundle.js') }}"></script>
    <script src="{{ asset('vendors/bootstrap-select/js/bootstrap-select.min.js') }}"></script>
    <script src="{{ asset('vendors/waypoints/jquery.waypoints.min.js') }}"></script>
    <script src="{{ asset('vendors/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('vendors/hc-sticky/hc-sticky.min.js') }}"></script>
    <script src="{{ asset('vendors/jparallax/TweenMax.min.js') }}"></script>
    <script src="{{ asset('vendors/jquery-validation/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('js/theme.js') }}"></script>
    {% if locale == 'ar' %}
        <script src="{{ asset('vendors/jquery-validation/localization/messages_ar.js') }}"></script>
        <script src="{{ asset('i18n/ar.js') }}"></script>
    {% else %}
        <script src="{{ asset('i18n/en.js') }}"></script>
    {% endif %}
{% endblock %}
<!-- END BASE JS-->

<!-- FIXED LAYOUTS -->
{% include 'fe/_back_to_top_btn.html.twig' %}
<!-- END FIXED LAYOUTS -->

</body>
</html>