{% extends 'fe/base.html.twig' %}
{% set seo = seoPage.seo %}
{% use '@PNSeo/FrontEnd/seo.html.twig' %}
{% import 'fe/macros.html.twig' as macros %}
{% block metaTag %}
    {{ parent() }}
    <link rel="canonical" href="{{ url(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge({'page':1})) }}" />
{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendors/bootstrap-select/css/bootstrap-select.min.css') }}">
{% endblock %}
{% block content %}
    <section class="page-header-section background-1" {% if banner and banner.image %}style="background-image: url('{{ asset(banner.image.assetPath) }}')" {% endif %}>
        <div class="container">
            <h1 class="page-title">{{ seoPage.seo.title }}</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('fe_home') }}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ seoPage.seo.title }}</li>
                </ol>
            </nav>
        </div>
    </section>
    <section class="filter-section">
        <div class="container">
            <form action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'page':1})) }}">

                <div class="d-flex align-items-center flex-md-row flex-column">
                    <div class="form-group">
                        <input type="text" class="form-control" name="q" placeholder="Search Products" value="{{ search.string }}">
                    </div>
                    <div class="form-group">
                        <select class="selectpicker" id="category" name="category">
                            <option value="">Category</option>
                            {% for category in categories %}
                                <option {{ search.category == category.id ? "selected" }} value="{{ category.id }}">{{ category.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="search-btn">
                            <span class="fa fa-search"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section class="product-list-section">
        <div class="container">
            <div class="row">
                {% include 'product/frontEnd/product/_product_list.html.twig' with { "products": products } %}
            </div>
        </div>
    </section>
    {% include 'fe/pagination.html.twig' with { "paginator": paginator } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendors/bootstrap-select/js/bootstrap-select.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.selectpicker').selectpicker({
                style: 'btn-light',
                size: 4
            });
        })
    </script>
{% endblock %}