<table>
    <tbody>
    <tr>
        <td style="border-right: 1px solid black;width: 70px;">
            <img src="{{ asset('images/logo_footer.jpg') }}" alt="seats" style="width: 50px;">
        </td>
        <td style="border-right: 1px solid black; text-align: center">
            <span>{{ getDCA(13) }}</span><br>
            <span>{{ getDCA(15) }}</span><br>
            <span>info@seatseg.com</span>
        </td>
        <td style="width: 400px;">
            <span style="font-weight: bold">www.seatseg.com</span> <br>
            Follow us on <img src="{{ asset('images/icons/pdf_facebook.png') }}" alt="facebookLogo"
                              style="width: 18px; height: 18px;">
            <img src="{{ asset('images/icons/pdf_instagram.png') }}" alt="facebookLogo"
                 style="width: 18px; height: 18px;">
            <img src="{{ asset('images/icons/pdf_youtube.png') }}" alt="facebookLogo"
                 style="width: 18px; height: 18px;">
            <img src="{{ asset('images/icons/pdf_pinterest.png') }}" alt="facebookLogo"
                 style="width: 18px; height: 18px;"> <span style="font-weight: bold">/seatseg</span>
            <div style="font-weight: bold;">
                Guaranteed by <img src="{{ asset('images/pdf_gf.png') }}" style="width: 18px;height: 18px;"> Gallad
                Furniture (since 1975)
            </div>
        </td>
    </tr>
    </tbody>
</table>